.demo-div {
	width: 90%;
	height: 100%;
	background-color: rgba(12,54,68,0.7);
	color:#FFF;
	position: absolute;
	z-index: 99999;
	margin-right: 5%;
	margin-left: 5%;
	text-align: center;
}

.demo-div b{
	font-weight: bold;
	line-height: 2em;
}
.logo-matrice {
	max-width: 80%;
	max-height: 60vh;
}

.title-psa {
	font-size: 1.5em;
	font-weight: bold;
	padding-top: 2em;
}
